<h2><%= @user["email"] %></h2>
<h4>Bio: <%= @user["bio"] %></h4>
<h4>ID: <%= @user["id"] %></h4>

<h4> Visits: <% @user["visits"].each do |visit|  %></h4>
    <h5> <%= visit["city"]["name"] + ", " + visit["country"]["name"] %> </h5>
    
<% end %>

<% @points = 0 %>
<% @user["visits"].each do |visit| %>
    <% visit["posts"].each do |post| %>
     <% @points = @points + post["votecount"].to_i %>
    <% end %>
<% end %>

<% @user["comments"].each do |comment| %>
     <% @points = @points + comment["score"].to_i %>
<% end %>


<h4> Points: <%= @points %></h4>

<%= form_tag "/client/visits", method: :post do %>
  <div>
    City: <input type="text" name="city" />
  </div>
    <div>
    Country: <input type="text" name="country" />
  </div>
  <input type="submit" name="" value="Add Visit"/>
<% end %>

<a href="/users/<%= @user['user_id'] %>/edit">Edit</a>
<a href="/users/<%= @user['user_id'] %>" data-method="delete">Delete</a>