<h2><%= @user["email"] %></h2>
<h4>Bio: <%= @user["bio"] %></h4>
<h4>ID: <%= @user["user_id"] %></h4>

<h4> Visits: </h4>
  <ul>
    <% @user["visits"].each do |visit|  %>
      <li>
        <%= visit["city"]["name"] + ", " + visit["country"]["name"] %>
      </li>
    <% end %>
  </ul>

<h4> Posts: </h4>
  <ul>
    <% @user["posts"].each do |post| %>
      <li><a href="/client/posts/<%=post["id"]%>"><%= post["title"] %></a></li>
    <% end %>
  </ul>
    

<% @points = 0 %>
<% @user["visits"].each do |visit| %>
    <% visit["posts"].each do |post| %>
     <% @points = @points + post["votecount"].to_i %>
    <% end %>
<% end %>

<% @user["comments"].each do |comment| %>
     <% @points = @points + comment["score"].to_i %>
<% end %>


<h4> Points: <%= @points %></h4>

<a href="/users/<%= @user['user_id'] %>/edit">Edit</a>
<a href="/users/<%= @user['user_id'] %>" data-method="delete">Delete</a>
