
  <% @posts.each do |post| %>
        <h2><a href="/client/posts/<%= post["post_id"] %>"><%= post["title"] %></a></h2>
        <h4> User: <%= post["user"]["username"] %></h4>
        <h4> Content: <%= post["content"] %></h4>
        <h4> Latitude: <%= post["latitude"] %></h4>
        <h4> Longitude: <%= post["longitude"] %></h4>
        <h4> City: <%= post["city"]["name"] %></h4>
        <h4> Country: <%= post["country"]["name"] %></h4>
        <h4> Votes: <%= post["votecount"] %></h4>

  <% end %>