<h2><%= @post["title"] %></h2>
<h4>Content: <%= @post["content"] %></h4>
<h4>Latitude: <%= @post["latitude"] %></h4>
<h4>Longitude: <%= @post["longitude"] %></h4>
<h4>User: <a href="/users/<%=@post["user"]["id"]%>"><%= @post["user"]["email"] %></a></h4>
<h4>City: <%= @post["city"]["name"] %></h4>
<h4>Country: <%= @post["country"]["name"] %></h4>
<h4>Votes: <%= @post["votecount"] %></h4>

<%= form_tag "/client/votes", method: :post do %>
  <input type="hidden" name="votable_id" value="<%= @post['post_id'] %>" />
  <input type="submit" name="" value="Upvote"/>
<% end %>

<a href="/client/votes/<%=@post["post_id"] %>" data-method="delete"> Remove Upvote_</a>

<a href="/client/posts/<%= @post['post_id'] %>/edit">Edit</a>
<a href="/client/posts/<%= @post['post_id'] %>" data-method="delete">Delete</a>